---
layout: default
title: Home
---

<img src="{{ site.baseurl }}assets/bigcommunitycrop.gif" alt="screenshot of a large network graph" />
<h3>About the project</h3>
<p><i>Translating Networks</i> attempts to explore the communities, connections, and influences in contemporary literary translation through graph theory. The project also serves as a sandbox to learn about network analysis and other computational methods, as well as to better understand their application in book and publishing history research.</p>

{% if site.data.travel.size > 0 %}
<hr />

<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>Upcoming Events</h3>

{% include travel.html %}

{% endif %}
<hr />
